

#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: 3% auto;
    width: 100%;
    max-width: 670px;
    padding-top: 10px;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}



#message {
    height: 170px;
}

.nameInForm {
    width: 100%;
    border: none;
    border-radius: 5px;
    color: #000;
    font-size: 64px;
    margin-bottom: 20px;
}
.header-in-contactModal  {
    margin-bottom:-20px;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}



.photograph-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.name-in-header {
    font-size: 64px;
    color:#D3573C;
    margin: 0px;
}

.location-in-header {
    color: #901C1C;
    font-size: 24px;
    margin:0px;
    margin-top: 16px;
}

.photo-in-header {
    margin: 50px;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit:cover;
}

.tagline-in-header {
    margin-top: 19px;
    color: #525252;
    font-size: 18px;
}

.header-info {
    margin-left:50px;
}

.button-header {
    margin:130px;
}

.main_photographer_filter h2 {
    margin-top: 20px;
}

.medias {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 90px;
}

.photo-from-photographer {
  object-fit: cover;
  width: 350px;
  height: 300px; 
}

.card-container {
    width: 350px;
    height: 350px; 
    display: flex;
    flex-direction: column-reverse;
    overflow: hidden;
}

.title-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    color: #901C1C;
    font-size: 24px;
}

.title-container p {
   width: 280px;
}

.fa-heart {
    font-size: 20px;
    color:#901C1C;
    margin-left: 4px;
}

.likes-container {
    display: flex;
    align-items: center;
}

.main_photographer_filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap : 25px;
}

.dropdown_content {
   border-radius: 5px;
   background: #901C1C;
   padding:0px;
}

.main_photographer_filter {
    margin-bottom: 58px;
}

.filters {
    position: relative;
}
.dropdown {
    z-index: 1;
    position: absolute;
    top : -15px;
    border-radius: 5px;
    overflow: hidden;
    margin:0px;
    padding:0px;
}

.btn_drop {
    border-radius: 5px;
    background: #901C1C;
    transition: max-height .1s ease-in-out;
    color:white;
    padding : 23px 10px 23px 10px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    font-size: 18px;
    font-weight: 700;
    width: 170px;
}

.option-filter{
    transition: max-height .1s ease-in-out;
    color:white;
    padding : 0px;
    display: flex;
    gap: 18px;
    font-size: 18px;
    font-weight: 700;
    margin:0px;
    background: #901C1C;
    margin-left: 10px;

}

.option-filter button{
    color:white;
    background: #901C1C;
    border : none;
    font-size: 18px;
    font-weight: 700;
    padding : 23px 10px 23px 10px;
}

.white-line {
    border-bottom: white solid 1px;
    width: 130px;
}

#current_filter {
    margin-left: 7px;

}

.fa-chevron-up {
    margin-right: 10px;
}

.rotate{
    transform: rotate(180deg);
}

/* LIGHTBOX */

.lightbox_container {
    display: flex;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    
}

.lightbox {
    border-radius: 5px;
    background-color: white;
    border: 2px solid #95FFF9;
    margin: 40px 80px 20px 100px;
    width: 100%;
}


.lightbox_media_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.lightbox_media {
    display: flex;
    width: 1050px;
    height: 900px;
    justify-content: center;
    align-items: center;
    margin:0px;
}

.button_close_container {
    display: flex;
    justify-content: end;
    margin-top : 22px;
    margin-right: 25px;
}

.button_lightbox {
 
    background-color: white;
    border: none;
}


.button_lightbox i {
    width: 96px;
    height: 96px;
    font-size: 50px;
    color: #901C1C;
}

.button_close_lightbox {
    background-color: white;
    border: none;
}

.icon-close-lightbox {
    width: 42px;
    height: 42px;
    cursor: pointer;
    
}